---
---
<footer>
    <div class="footer-content">
        <h3 class="footer-brand">تربية بلس</h3>
        <p class="footer-description">
            نسعى لنكون المصدر الأول للمحتوى التربوي باللغة العربية في المملكة العربية السعودية
        </p>
        <div class="footer-links">
            <a href="/about/" class="footer-link">عن تربية بلس</a>
            <a href="/privacy/" class="footer-link">سياسة الخصوصية</a>
        </div>
        <p class="footer-copyright">
            &copy; {new Date().getFullYear()} تربية بلس. جميع الحقوق محفوظة
        </p>
    </div>
</footer>
