---
---
<header>
    <div class="header-content">
        <a href="/" class="logo">تربية بلس</a>
        <nav class="header-nav">
            <a href="/articles/" class="nav-link">المقالات</a>
            <a href="/about/" class="nav-link">عن تربية بلس</a>
        </nav>
    </div>
</header>
